body{
  background: linear-gradient(#4848A4, #17194c);
  color:#ffffff;
  padding:0;
  margin:0;}

    #qr_img{text-align: center;
      margin-top: 150px;
      margin-bottom: 100px;
    }
    
    .slide-in {
      font-weight: bold;
      animation: slideIn 1s ease-out;
    }
    
    @keyframes slideIn {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    h1{
      margin: 200px 10px 100px 10px;
      text-align: center;
      font-size: 75px;
    }
    h2{
      text-align: center;
      font-size:75px;
      background-color:#FFFFFF;
      color:#17194c;
    }
    h3{
      margin: 70px 10px 0px 10px;
      text-align: center;
      font-size: 50px;
    }

    h4{
      margin: 0px 10px 0px 10px;
      text-align: center;
      font-size: 15px;
    }

    .container{
      display: flex;
      justify-content: space-around;
    }

    #logo{
      margin-top: 150px;
      text-align: center;
    } 

    #logo img{
      height: 200px;
    }
    
    #footer {
      margin: 80px 10px 20px 10px;
      font-size : 10px;
      color : #ffffff;
      text-align : center; 
    }