body{background-color:#17194c;
    color:#ffffff;
    padding:0;
    margin:0;}

    #qr_img{text-align: center;}
    #access{
        text-align: center;
    }
    
    h1{
      text-align: center;
      font-size: 100px;
    }
    h2{
      text-align: center;
      font-size:75px;
      background-color:#FFFFFF;
      color:#17194c;
    }
    h3{
      text-align: center;
      font-size: 50px;
    }
    
    #footer {
      font-size : 10px;
      color : #ffffff;
      background-color : #17194c;
      text-align : center; 
    }